main{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
body{
	background: rgb(16, 67, 100);
}
.card{
	margin: 10px;
	padding: 10px;
	text-align: center;
	background: darkcyan;
}
img{
	width: 250px;
}